In [1]:
import pandas as pd
import numpy as np

In [2]:
filename_day = r"D:\1_kaoyan\college_ending\400仪表数据--全\middata - 副本\日结用电量数据——按照不同类型的功率收费区分\处理过的\FourHundred_daily_P0300.csv"

In [3]:
data_day_yuanlai = pd.read_csv(filename_day,encoding='utf-8')

In [4]:
data_day_yuanlai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Columns: 401 entries, MeterNo to 10023160000027
dtypes: float64(399), int64(1), object(1)
memory usage: 1.1+ MB

In [5]:
data_day_yuanlai['MeterNo']=data_day_yuanlai['MeterNo'].apply(pd.to_datetime)

In [6]:
data_day_yuanlai.MeterNo.dt.month

0       1
1       1
2       1
3       1
4       1
       ..
361    12
362    12
363    12
364    12
365    12
Name: MeterNo, Length: 366, dtype: int64

In [7]:
data_day_yuanlai['month'] = data_day_yuanlai.MeterNo.dt.month

In [8]:
data_day_yuanlai.head(5)

,MeterNo,10023160000029,10023160000041,10023160000042,10023160000043,10023160000044,10023160000054,10023160000055,10023160000067,10021160001047,...,10023160000345,10023160000346,10023160000347,10023160000349,10023160000350,10023160000352,10014164400011,10023160000024,10023160000027,month
0,2020-01-01,0.0,567.73,18272.879,4515.096,864.782,7643.694,24457.207,0.0,1345.040,...,4001.931,3194.683,8997.791,2799.397,8090.704,6448.154,319990.22,7228.847,5685.680,1
1,2020-01-02,0.0,567.73,18303.648,4516.550,866.437,7681.640,24566.444,0.0,1346.884,...,4004.614,3209.996,8997.791,2799.397,8100.713,6448.218,320824.66,7257.591,5697.520,1
2,2020-01-03,0.0,567.73,18334.417,4533.568,868.134,7719.586,24675.681,0.0,1348.413,...,4007.292,3227.534,8997.791,2799.397,8119.699,6448.573,321588.08,7284.229,5709.779,1
3,2020-01-04,0.0,567.73,18365.186,4535.242,869.855,7757.532,24784.918,0.0,1349.945,...,4019.812,3230.665,8997.791,2799.397,8129.640,6448.340,322429.16,7313.294,5722.203,1
4,2020-01-05,0.0,567.73,18385.580,4549.766,871.559,7801.844,24901.315,0.0,1353.214,...,4022.428,3234.226,8997.791,2799.397,8129.867,6448.401,323282.28,7323.352,5733.944,1

In [9]:
data_day_yuanlai.dtypes.value_counts()

float64           399
int64               2
datetime64[ns]      1
dtype: int64

2、开始制作透视表

In [10]:
data_day_toushibiao = data_day_yuanlai.copy(deep=1)

In [11]:
data_day_toushibiao.head(5)

,MeterNo,10023160000029,10023160000041,10023160000042,10023160000043,10023160000044,10023160000054,10023160000055,10023160000067,10021160001047,...,10023160000345,10023160000346,10023160000347,10023160000349,10023160000350,10023160000352,10014164400011,10023160000024,10023160000027,month
0,2020-01-01,0.0,567.73,18272.879,4515.096,864.782,7643.694,24457.207,0.0,1345.040,...,4001.931,3194.683,8997.791,2799.397,8090.704,6448.154,319990.22,7228.847,5685.680,1
1,2020-01-02,0.0,567.73,18303.648,4516.550,866.437,7681.640,24566.444,0.0,1346.884,...,4004.614,3209.996,8997.791,2799.397,8100.713,6448.218,320824.66,7257.591,5697.520,1
2,2020-01-03,0.0,567.73,18334.417,4533.568,868.134,7719.586,24675.681,0.0,1348.413,...,4007.292,3227.534,8997.791,2799.397,8119.699,6448.573,321588.08,7284.229,5709.779,1
3,2020-01-04,0.0,567.73,18365.186,4535.242,869.855,7757.532,24784.918,0.0,1349.945,...,4019.812,3230.665,8997.791,2799.397,8129.640,6448.340,322429.16,7313.294,5722.203,1
4,2020-01-05,0.0,567.73,18385.580,4549.766,871.559,7801.844,24901.315,0.0,1353.214,...,4022.428,3234.226,8997.791,2799.397,8129.867,6448.401,323282.28,7323.352,5733.944,1

In [12]:
data_day_toushibiao.isnull().sum()

MeterNo              0
10023160000029      66
10023160000041       0
10023160000042     286
10023160000043       0
                  ...
10023160000352       0
10014164400011       0
10023160000024       0
10023160000027       2
month                0
Length: 402, dtype: int64

In [13]:
data_day_toushibiao=data_day_toushibiao.fillna(0)

In [14]:
toushibiao_values=list(data_day_yuanlai.columns)[1:-1]

In [15]:
month_sum_toushibiao = pd.pivot_table(data_day_toushibiao,index='month',values=toushibiao_values,aggfunc=np.sum)

In [16]:
month_sum_toushibiao

,10014164400011,10021160000828,10021160000829,10021160000831,10021160000832,10021160000833,10021160000835,10021160000837,10021160000838,10021160000839,...,10023160000340,10023160000341,10023160000342,10023160000343,10023160000345,10023160000346,10023160000347,10023160000349,10023160000350,10023160000352
month,,,,,,,,,,,,,,,,,,,,,
1,10257060.78,25077.149,68134.498,236174.185,43779.137,298503.164,292201.729,54579.714,51435.310,100782.409,...,197569.957,698546.591,237180.392,217032.896,140194.220,103032.451,278931.521,86781.307,253790.485,200679.004
2,10145261.58,23993.692,66502.350,231859.956,43198.638,299049.816,274802.727,55433.928,49216.615,97664.104,...,192126.635,671938.174,232654.163,211956.924,216030.195,101619.539,260935.939,81183.065,243524.861,189429.340
3,11236297.94,26121.804,74472.533,259007.567,47600.505,343154.070,296046.303,62092.559,53607.056,107655.072,...,213671.730,732006.574,261588.950,232456.812,261271.475,113365.912,278931.521,86860.426,267804.571,203282.263
4,11185420.82,25818.986,74352.058,258282.330,47206.198,350195.230,288467.271,64168.063,52891.440,109482.477,...,214786.755,717064.858,253601.730,228557.875,265714.800,112621.642,71982.328,84118.539,267090.802,198133.900
5,11795577.86,27261.845,78919.883,270143.650,49763.279,368550.647,300021.898,68596.284,56889.023,115043.712,...,228571.170,749883.316,262435.640,238800.595,281135.280,119594.460,0.000,86934.815,282755.143,205433.448
6,11619576.70,26866.608,78837.006,263255.333,49236.424,359632.079,292555.548,68901.505,57468.222,112625.861,...,226963.012,739519.947,258407.981,233324.549,273763.622,118567.700,0.000,84133.529,278474.765,199315.368
7,12216434.74,28243.735,84242.234,275521.667,52412.316,374982.226,305632.017,74134.271,61868.943,118876.257,...,225043.295,781479.412,271478.128,243308.093,283979.325,123521.427,0.000,78537.736,288524.109,206425.519
8,12494833.12,28846.350,87135.397,278415.204,54008.673,379267.241,310055.868,77248.838,64142.634,121498.431,...,246666.461,798323.023,276095.766,245715.448,285061.258,123665.683,0.000,87024.759,290733.413,206843.386
9,12349661.04,28459.641,86793.972,271709.804,53400.707,371983.948,303658.413,77348.556,64305.247,120181.166,...,244325.749,785434.958,271637.553,240026.006,277399.245,119932.137,0.000,84259.977,282848.006,200605.686
10,13043870.60,29896.966,91652.436,284524.851,57077.000,392570.099,322427.887,82048.188,68295.603,126402.178,...,259172.412,825901.854,287916.074,250811.721,291588.227,123993.738,0.000,87113.063,294400.265,208048.344
11,13057188.88,31176.792,90469.378,283856.863,57895.192,392453.634,325068.406,81872.416,66937.561,123394.286,...,258689.128,811839.601,281361.840,248793.816,304082.414,119993.940,0.000,84322.497,286503.051,201392.340
12,14122198.70,33931.839,94969.085,306276.655,62756.469,426535.637,355382.255,87758.160,69926.467,128680.758,...,279476.748,853023.470,290950.355,266933.545,385046.632,123993.738,0.000,87145.537,297102.618,208105.418

3、计算列表的涨幅

In [17]:
zd_month_sum_toushibiao = month_sum_toushibiao.copy(deep=1)

In [18]:
zd_month_sum_toushibiao.columns

Index(['10014164400011 ', '10021160000828 ', '10021160000829 ',
       '10021160000831 ', '10021160000832 ', '10021160000833 ',
       '10021160000835 ', '10021160000837 ', '10021160000838 ',
       '10021160000839 ',
       ...
       '10023160000340 ', '10023160000341 ', '10023160000342 ',
       '10023160000343 ', '10023160000345 ', '10023160000346 ',
       '10023160000347 ', '10023160000349 ', '10023160000350 ',
       '10023160000352 '],
      dtype='object', length=400)

In [19]:
zhangdie=zd_month_sum_toushibiao['10014164400011 ']

In [20]:
zhangdie=zhangdie.reset_index()

In [21]:
zhangdie['next_status']=zhangdie['10014164400011 '].shift(-1).fillna(zhangdie['10014164400011 '][11])

In [22]:
zhangdie['10014164400011 '][11]

14122198.700000001

In [23]:
zhangdie['ZhangDie']=(zhangdie['next_status']-zhangdie['10014164400011 '])/zhangdie['next_status']

In [24]:
zhangdie

    month  10014164400011   next_status  ZhangDie
0       1      10257060.78  10145261.58 -0.011020
1       2      10145261.58  11236297.94  0.097099
2       3      11236297.94  11185420.82 -0.004549
3       4      11185420.82  11795577.86  0.051728
4       5      11795577.86  11619576.70 -0.015147
5       6      11619576.70  12216434.74  0.048857
6       7      12216434.74  12494833.12  0.022281
7       8      12494833.12  12349661.04 -0.011755
8       9      12349661.04  13043870.60  0.053221
9      10      13043870.60  13057188.88  0.001020
10     11      13057188.88  14122198.70  0.075414
11     12      14122198.70  14122198.70  0.000000

4、循环找异常

In [25]:
xunhuan_data = month_sum_toushibiao.copy(deep=1)

In [26]:
all_list = xunhuan_data.columns

In [43]:
yichang_list=[]
for i in range(len(all_list)):
    zhangdie_xunhuan = xunhuan_data[all_list[i]]
    zhangdie_xunhuan=zhangdie_xunhuan.reset_index()
    zhangdie_xunhuan['next_status']=zhangdie_xunhuan[all_list[i]].shift(-1).fillna(zhangdie_xunhuan[all_list[i]][11])
    zhangdie_xunhuan['ZhangDie']=(zhangdie_xunhuan['next_status']-zhangdie_xunhuan[all_list[i]])/zhangdie_xunhuan['next_status']
    month_count = 0
    for j in list(zhangdie_xunhuan.ZhangDie):
        month_count = month_count+1
        if j >= 0.2 and j != 1:
            yichang_list.append([all_list[i],month_count,j])
            break

In [42]:
2!=1 and 1==1

True

In [44]:
yichang_list

[['10021160000938 ', 11, 0.8093185563762011],
 ['10021160000963 ', 9, 0.8070598609791155],
 ['10021160001000 ', 10, 0.5725297742646549],
 ['10021160001054 ', 11, 0.7622874297958465],
 ['10021160001063 ', 11, 0.745486840142386],
 ['10021160001064 ', 11, 0.749201742834876],
 ['10021160001085 ', 2, 0.21814060870707308],
 ['10021160001088 ', 11, 0.26155927381421457],
 ['10023160000015 ', 2, 0.9687524856309071],
 ['10023160000028 ', 1, 0.25417309585932585],
 ['10023160000029 ', 10, 0.7446086922179666],
 ['10023160000041 ', 6, 0.5081967213114756],
 ['10023160000042 ', 2, 0.9683101406957717],
 ['10023160000049 ', 6, 0.40124789739717964],
 ['10023160000054 ', 2, 0.9690705771789807],
 ['10023160000055 ', 2, 0.9686511129695087],
 ['10023160000068 ', 8, 0.321598826538721],
 ['10023160000069 ', 11, 0.2754048802517754],
 ['10023160000075 ', 8, 0.24777474479281789],
 ['10023160000076 ', 6, 0.6250000000000002],
 ['10023160000079 ', 1, 0.287593965747547],
 ['10023160000081 ', 4, 0.3296433757362145],
 ['10023160000087 ', 5, 0.6278363397784683],
 ['10023160000097 ', 11, 0.23421651534660493],
 ['10023160000098 ', 2, 0.9685004645584645],
 ['10023160000099 ', 11, 0.806451612903226],
 ['10023160000116 ', 6, 0.42563564899378975],
 ['10023160000118 ', 7, 0.28385460809105495],
 ['10023160000121 ', 2, 0.9686238051386061],
 ['10023160000122 ', 2, 0.9685288677708377],
 ['10023160000129 ', 5, 0.3130896061024752],
 ['10023160000132 ', 7, 0.3214285714285713],
 ['10023160000134 ', 2, 0.9692340596250154],
 ['10023160000135 ', 2, 0.9683952805428232],
 ['10023160000136 ', 11, 0.49450084765064656],
 ['10023160000140 ', 2, 0.6995035126816004],
 ['10023160000151 ', 8, 0.20071309716332209],
 ['10023160000185 ', 4, 0.22828822151291892],
 ['10023160000201 ', 7, 0.25806451612903236],
 ['10023160000206 ', 2, 0.9682082399936053],
 ['10023160000207 ', 6, 0.20690025843703275],
 ['10023160000214 ', 9, 0.704265533890784],
 ['10023160000234 ', 10, 0.9052664655605831],
 ['10023160000267 ', 3, 0.5369841805769434],
 ['10023160000273 ', 6, 0.5389539776810788],
 ['10023160000289 ', 10, 0.9022674350813106],
 ['10023160000327 ', 6, 0.20884687601620416],
 ['10023160000345 ', 1, 0.3510434039093473]]

In [45]:
len(yichang_list)

48

In [46]:
data_yichang = pd.DataFrame(yichang_list)

In [48]:
data_yichang.columns = ['MeterNo','yichang_month','zhangdie']

5、异常数据的数据透视表

In [52]:
yichang_toushibiao = pd.pivot_table(data_yichang,index=['MeterNo','yichang_month'],values=['zhangdie'],aggfunc=np.mean)

In [54]:
yichang_toushibiao1 = pd.pivot_table(data_yichang,index=['MeterNo'],values=['yichang_month','zhangdie'],aggfunc=np.mean)

In [55]:
yichang_toushibiao1

                 yichang_month  zhangdie
MeterNo
10021160000938              11  0.809319
10021160000963               9  0.807060
10021160001000              10  0.572530
10021160001054              11  0.762287
10021160001063              11  0.745487
10021160001064              11  0.749202
10021160001085               2  0.218141
10021160001088              11  0.261559
10023160000015               2  0.968752
10023160000028               1  0.254173
10023160000029              10  0.744609
10023160000041               6  0.508197
10023160000042               2  0.968310
10023160000049               6  0.401248
10023160000054               2  0.969071
10023160000055               2  0.968651
10023160000068               8  0.321599
10023160000069              11  0.275405
10023160000075               8  0.247775
10023160000076               6  0.625000
10023160000079               1  0.287594
10023160000081               4  0.329643
10023160000087               5  0.627836
10023160000097              11  0.234217
10023160000098               2  0.968500
10023160000099              11  0.806452
10023160000116               6  0.425636
10023160000118               7  0.283855
10023160000121               2  0.968624
10023160000122               2  0.968529
10023160000129               5  0.313090
10023160000132               7  0.321429
10023160000134               2  0.969234
10023160000135               2  0.968395
10023160000136              11  0.494501
10023160000140               2  0.699504
10023160000151               8  0.200713
10023160000185               4  0.228288
10023160000201               7  0.258065
10023160000206               2  0.968208
10023160000207               6  0.206900
10023160000214               9  0.704266
10023160000234              10  0.905266
10023160000267               3  0.536984
10023160000273               6  0.538954
10023160000289              10  0.902267
10023160000327               6  0.208847
10023160000345               1  0.351043

In [58]:
yichang_toushibiao1.yichang_month.value_counts()

2     12
11     9
6      7
10     4
1      3
7      3
8      3
4      2
5      2
9      2
3      1
Name: yichang_month, dtype: int64

二月份最容易出现用电异常

In [49]:
data_yichang.head(5)

           MeterNo  yichang_month  zhangdie
0  10021160000938              11  0.809319
1  10021160000963               9  0.807060
2  10021160001000              10  0.572530
3  10021160001054              11  0.762287
4  10021160001063              11  0.745487

In [31]:
abs(list(zhangdie_xunhuan.ZhangDie)[1])

0.0681462454990477

In [30]:
list(zhangdie_xunhuan.ZhangDie)

[-0.05938712556354812,
 0.0681462454990477,
 -0.02598426114864782,
 0.03553242215941477,
 -0.03069547552399524,
 0.03444414738276583,
 0.0020202096285542796,
 -0.03109433298914531,
 0.035773694983124125,
 -0.03304993625874755,
 0.032258064516129066,
 0.0]